.header {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 24px;
  @media screen and (max-width: 768px) {
    font-size: 24px; 
    }
  } 
  .layout{  
    background-color:#f8f8f8;
    border: 1px solid #e0e0e0; 
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #333;
    align-items: center;
    text-align: center;
    margin: 0 auto;
   max-width: 800px;
  } 
  
   .todo-progress{
   // display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;

    .ant-tabs-tab {
      padding: 8px 16px;
    }
  } 

  .todo-form {
    text-align: center;
    margin-bottom: 20px;
  }

  .task-title {
    padding: 8px 10px;
    width: 100%;
    height: 98%;
    flex-grow: 1; 
    color: #333;
    position: relative;
    font-family: 'Satisfy', cursive;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    &.completed {
      color: green; // Change the color for completed tasks
    }
    &.not-completed {
      color: red; // Change the color for not completed tasks
    }
    @media (max-width: 768px) {
      font-size: 1rem;
      color: #666;
    }
  }

  .ant-btn {
    background-color: #43AA8B;
    border: 1px solid #040403;
    border-radius: 6px;
    color: #fff; 

    &:hover {
      background-color: #fefbf9; 
    }
  }

  .todo-card {
   // background-color:#BFACE2; 
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    color: #333;
    align-items: center;
    text-align: center;
    background-color: #fff;
  }

  .todo-header{
    background-color:#B2B09B;
    border: 2px solid #040403; 
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    color: #f8eeee; 
    align-items: center;
    text-align: center;
  }
    
  @media (max-width: 768px) {
    .sticky-note-card {
      //display: grid;
      grid-template-columns: 1fr auto; 
      background-color:#DBD8AE; 
      border-radius: 10px;
      margin-bottom: 10px;
      align-items: center; 
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5px; 
    

      @media (max-width: 768px) {
        padding: 5px;
      }
    }

  }
  
  .error-message {
    background-color: #f44336;
    color: white; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center; 
    font-weight: bold; 
}

  
  
  .todo-status {
   font-family: 'Halant', serif;
  }
  
 
  
  .action-buttons {
    display: flex;
    align-items: center; 
    gap: 2px; 
   
  }
  
  .action-buttons span {
    cursor: pointer;
  }
  
  .left-buttons button {
    margin-right: 8px; 
  }
  
  .right-content {
    flex-grow: 1; 
  }

  .ant-pagination {
    color:#333;
  }
  

  .ant-pagination-item {
    margin-right: 8px; 
    border: 1px solid #e0e0e0; 
    border-radius: 2%; 
    color: #040403;

    a {
      color: #ae00ff; 

      &:hover {
        background-color: #738d36; 
        color: #151414; 
        border-radius: 2%;
      }
    }
  }



  .App {
    min-height: 100vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(62deg, #738d36 0%, #DBD8AE 100%);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@media screen and (max-width: 768px) {
  .sticky-note-card {
    grid-template-columns: 1fr; 
  }
}

